h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 10px;
}

.weather-fluid {
    height: 494px;
    background: url("/img/europe-day2.jpg");
    margin-top: 30px;
    color: white;
}

.weather-block {
    height: 230px;
    margin-top: -10px;
    padding: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    margin: 0 10px 0 0 ;
}

.youtube-block {
    width: 268px;
    margin: 3px 6px
}

a.youtube span.video_icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/img/video_sign.png") no-repeat 50% 50%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

a.youtube:hover span.video_icon {
    opacity: 1;
    zoom: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.add-location {
    margin: 0;
}

.footer {background: #e6e6e6;}